@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fb5533;
  --font-dark-color: #222;
  --font-light-color: #fff;
  --border-color: rgba(0, 0, 0, 0.87);
  --hover-color: rgba(0, 0, 0, 0.02);
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-container {
  max-width: 1200px;
  @apply mx-auto;
}