@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: 'Roboto' !important;
}

.custom-container {
  max-width: 1200px;
  @apply mx-auto;
}

.left-border > div {
    position: relative;
    padding-left: 1.5rem;

}

.header-left > a:not(:first-child)::after {
    content: "";
    height: .9375rem;
    width: 0;
    border-left: 1px solid hsla(0,0%,100%,.22);
    border-right: 1px solid hsla(0,0%,100%,.22);
    position: absolute;
    left: -6px;
    top: calc(50% - 7px);
}

.header-right > a,
.header-left > a  {
    display: flex;
    align-items: center;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 300;
    line-height: 15.6px;
    color: #fff;
    position: relative;
}

.header-right > a > svg {
    width: 18px;
    height: auto;
    margin-right: 5px;
}

.header-right > a.notifications > svg {
  width: 14px;
  height: 18px;
}

.header-with-search {
  padding: 1rem 0 .625rem;
}

.logo {
    position: relative;
    top: -.5rem;
    padding-right: 2.5rem;
}

.search-form {
    width: 100%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.09);
    --focus-indicator-spacing: 3px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 2.5rem;
    box-sizing: border-box;
    padding: .1875rem;
    border-radius: 2px;
    background: #fff;
}

.search-form > .search-bar-wrapper {
  display: flex;
  flex: 1;
  position: relative;
}

form.search-form .search-btn {
  @apply bg-primary relative;
  height: 34px;
  padding: 0 15px; 
  min-width: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.recommendations {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    position: relative;
    overflow: visible;
    outline: 0;
    white-space: nowrap;
    display: block;
    color: rgba(0,0,0,.54);
    color: hsla(0,0%,100%,.9);
    height: .875rem;
    line-height: .875rem;
    margin-top: .3125rem;
    margin-bottom: .3125rem;
}

.recommendations a {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    position: relative;
    overflow: visible;
    outline: 0;
    white-space: nowrap;
    display: block;
    color: rgba(0,0,0,.54);
    margin-left: 13px;
    color: hsla(0,0%,100%,.9);
    height: .875rem;
    line-height: .875rem;
    margin-top: .3125rem;
    margin-bottom: .3125rem;
}

.recommendations a:first-child {
    margin-left: 0;
}

.cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-bottom: 5px;
    margin: 0 10px;
}

.footer-header {
    font-size: .75rem;
    font-weight: 700;
    color: rgba(0,0,0,.87);
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}


.footer-link {
    text-decoration: none;
    color: rgba(0,0,0,.65);
    overflow: hidden;
}

ul.footer-link-list li {
  font-size: .75rem;
  margin-bottom: 0.75rem;
}

.footer-link a span.footer-link-text,
span.xTjlXx {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 14.4px;

}

.custom-text {
  line-height: 1.125rem;
  font-size: 14px;
  color: rgba(0,0,0,.54);
}

li.o8Gbgv {
  @apply mb-3;
}

li.footer-payment-list {
    width: 3.75rem;
    height: 1.875rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: .25rem;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: .125rem;
}

.ebQ6br {
    height: 5rem;
    width: 5rem;
    margin-right: .75rem;
    padding: .25rem;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-radius: 2px;
}

.W4jGm6 {
  @apply flex items-center justify-center;
    width: 4.25rem;
    padding: .25rem;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-radius: 2px;
}

.W4jGm6:not(:last-child) {
  @apply mb-2;
}

.custom-bt{ 
  border-top: 1px solid rgba(0,0,0,.1);
}

.HKksoM {
  @apply custom-text;
  padding: 0 5px;
}

.HKksoM:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,.2);
}